
.gb-container{
  height: 100vh;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

header .header-top{
  background-color: rgb(255, 255, 255);
  padding-left: 30px;
}

h1{
  font-size: 2rem;
  font-weight: bold;
  color: rgb(0, 200, 255);
  line-height: 100%;
  margin: 0;
}

header .header-bottom{
  background-color: rgb(0, 200, 255);
}

label{
  color: white;
  font-size: 1.5rem;
}

#type{
  width: 200px;
  text-align: center;
}

main{
  background-color: #DDDDDD;
  flex-grow: 1;
  padding: 50px 0;
  margin-top: 120px;
}

h2{
  text-shadow: 0 0 10px grey;
  box-shadow: 0 0 10px grey;
  color: white;
  animation: movetext 4s ease-in-out infinite;
  width: 60%;
  margin: 0 auto;
  border-radius: 20px;
}

@keyframes movetext {
  0%   {
    top: 0px; left: 0px; background-color: rgba(255, 0, 0, 0.3);
    transform: scale(1);
  }
  25%  {
    top: 0px; left: 100px; background-color: rgba(0, 0, 255, 0.3);
    transform: scale(1.1);
  }
  50%  {
    top: 100px; left: 100px; background-color: rgba(255, 255, 0, 0.3);
    transform: scale(1);
  }
  75%  {
    top: 100px; left: 0px; background-color: rgba(0, 128, 0, 0.3);
    transform: scale(1.1);
  }
  100% {
    top: 0px; left: 0px; background-color: rgba(255, 0, 0, 0.3);
    transform: scale(1);
  }
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(71, 71, 71);
  margin-bottom: 30px;
}

.box span{
  font-size: 20px;
  text-transform: uppercase;
}
.box i{
  font-size: 50px;
}

/* .orange{
  color: orange;
}
.green{
  color: green;
}
.blue{
  color: blue;
} */
